<script language="javascript"> 
function IsNumeric(sText)
{
   var ValidChars = "0123456789";
   var IsNumber=true;
   var Char;

 
   for (i = 0; i < sText.length && IsNumber == true; i++) 
      { 
      Char = sText.charAt(i); 
      if (ValidChars.indexOf(Char) == -1) 
         {
         IsNumber = false;
         }
      }
   return IsNumber;
   
   }
function validation()
{

  if (document.edit.customers_firstname.value == "" )
  {
    alert("First Name is a required field.");
    document.edit.customers_firstname.focus();
    return false;
  }
  
   if (document.edit.customers_lastname.value == "" )
  {
    alert("Last Name is a required field.");
    document.edit.customers_lastname.focus();
    return false;
  }
  
 
  
  if (document.edit.customers_dob.value == "" )
  {
    alert("DOB is a required field.");
    document.edit.customers_dob.focus();
    return false;
  }
   if (document.edit.customers_email_address.value.indexOf("@") == -1 || document.edit.customers_email_address.value == "")
  {
    alert("Email is a required field!, may be you have missd @ symbol");
    document.edit.customers_email_address.focus();
    return false;
  }
  
  if (document.edit.customers_email_address.value.indexOf(".") == -1 || document.edit.customers_email_address.value == "")
  {
    alert("Email is a required field!, may be you have missd . symbol");
    document.edit.customers_email_address.focus();
    return false;
  }
   if (document.edit.customers_address1.value == "" )
  {
    alert("Customer Address is a required field.");
    document.edit.customers_address1.focus();
    return false;
  }
  
   if (document.edit.customers_town.value == "" )
  {
    alert("Town is a required field.");
    document.edit.customers_town.focus();
    return false;
  }
    if (document.edit.customers_postcode.value == "" )
  {
    alert("Post Code is a required field.");
    document.edit.customers_postcode.focus();
    return false;
  }
   if (document.edit.customers_telephone.value == "" )
  {
    alert("Phone No is a required field.");
    document.edit.customers_telephone.focus();
    return false;
  }
 
 
  return true;
  
}
</script>
<?php

$sql="Select * from customers where customers_id='".$_REQUEST['ID']."'";
$result=mysql_query($sql);
$row=mysql_fetch_array($result);
?>

<table align="center" width="80%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/box_01.jpg" width="24" height="30" alt="" /></td>
        <td background="images/box_02.jpg"><span class="box_title_text">Customer Profile [ <?Php echo $row["customers_firstname"]." ".$row["customers_lastname"];?> ]</span></td>
        <td><img src="images/box_03.jpg" width="21" height="30" alt="" /></td>
      </tr>
      <tr>
        <td background="images/box_04.jpg">&nbsp;</td>
        <td width="100%" valign="top"><table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="bodytext">
          
          <tr>
            <td align="right" ></td>
          </tr>
          <tr>
            <td align="center" style="color:#FF0000"><?php echo $message; ?></td>
          </tr>
          <tr>
            <td align="center" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
              <tr>
                <td colspan="2" valign="top"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="bodytext">
                    <tr>
                      <td width="3%" >&nbsp;</td>
                      <td width="95%" valign="middle" align="center" bgcolor="#F0F0F0"><form action="index.php?action=update_customer&ID=<?php echo $_REQUEST['ID']; ?>&tabm=cusm" method="post" enctype="multipart/form-data" name="edit" id="edit" onsubmit="return validation(this)"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                        <tr>
                          <td align="center" valign="middle"><table width="100%" border="0" cellpadding="2" cellspacing="2" bgcolor="#FFFFFF" class="bodytext">
                            <tr>
                              <td align="left"><strong>Personal Details </strong></td>
                              <td width="26%" align="left">&nbsp;</td>
                              <td width="44%" align="right">* Required information</td>
                            </tr>
                            <tr>
                              <td width="30%" align="right">First Name: </td>
                              <td colspan="2" align="left"><input name="customers_firstname" type="text"  id="customers_firstname" value="<?Php echo $row["customers_firstname"];?>" size="30"/>
                                *</td>
                            </tr>
                            <tr>
                              <td align="right">Last Name : </td>
                              <td colspan="2" align="left"><input name="customers_lastname" type="text"  id="customers_lastname" value="<?Php echo $row["customers_lastname"];?>" size="30"/>
                                *</td>
                            </tr>
                            <tr>
                              <td align="right">E-mail Address: </td>
                              <td colspan="2" align="left"><input name="customers_email_address" type="text"  id="customers_email_address" value="<?Php echo $row["customers_email_address"];?>" size="30"/>
                                *</td>
                            </tr>

                          </table></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle"><table width="100%" border="0" cellpadding="2" cellspacing="2" bgcolor="#FFFFFF" class="bodytext">
                            <tr>
                              <td colspan="2" align="left"><strong>Address </strong></td>
                            </tr>
                            <tr>
                              <td width="30%" align="right">Address1: </td>
                              <td width="70%" align="left"><input name="customers_address1" type="text"  id="customers_address1" value="<?Php echo $row["customers_address1"];?>" size="30"/>
                                *</td>
                            </tr>
                            <tr>
                              <td align="right"> Address2: </td>
                              <td align="left"><input name="customers_address2" type="text"  id="customers_address2" value="<?Php echo $row["customers_address2"];?>" size="30"/></td>
                            </tr>
                            <tr>
                              <td align="right">Town: </td>
                              <td align="left"><input name="customers_town" type="text"  id="customers_town" value="<?Php echo $row["customers_town"];?>" size="30"/>
                                *</td>
                            </tr>

                            <tr>
                              <td align="right">State: </td>
                              <td align="left"><input name="customers_state" type="text"  id="customers_state" value="<?Php echo $row["customers_state"];?>" size="30"/></td>
                            </tr>
                            <tr>
                              <td align="right">Country: </td>
                              <td align="left"><select name="customers_country" id="customers_country" >
                                  <?php
		
			$queryril = "SELECT * FROM countries";
	$resultril =mysql_query($queryril);
	while($arofferinforil = mysql_fetch_assoc($resultril)){
		
		?>
                                  <option value="<? echo $arofferinforil["countryName"]; ?>" <?php if($row["customers_country"]==$arofferinforil["countryName"]){?>selected="selected"<?php }?> ><? echo $arofferinforil["countryName"]; ?></option>
                                  <?
						}
						?>
                              </select></td>
                            </tr>
                            <tr>
                              <td align="right">Postcode: </td>
                              <td align="left"><input name="customers_postcode" type="text"  id="customers_postcode" value="<?Php echo $row["customers_postcode"];?>" size="30"/>
                                *</td>
                            </tr>

                          </table></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle"><table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#FFFFFF" class="bodytext">
                            <tr>
                              <td colspan="2" align="left"><strong>Contact Information </strong></td>
                            </tr>
                            <tr>
                              <td width="30%" align="right">Phone: </td>
                              <td width="70%" align="left"><input name="customers_telephone" type="text"  id="customers_telephone" value="<?Php echo $row["customers_telephone"];?>" size="30"/>
                                *</td>
                            </tr>
                            <tr>
                              <td align="right">Fax: </td>
                              <td align="left"><input name="customers_fax" type="text"  id="customers_fax" value="<?Php echo $row["customers_fax"];?>" size="30"/></td>
                            </tr>

                          </table></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle"><table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#FFFFFF" class="bodytext">
                            <tr>
                              <td colspan="2" align="left"><strong>Password </strong></td>
                            </tr>
                            <tr>
                              <td width="30%" align="right">Old Password: </td>
                              <td width="70%" align="left"><input name="customers_password" type="password"  id="customers_password" value="<?Php echo $row["customers_password"];?>" disabled="disabled"/>
                                *</td>
                            </tr>
                            <tr>
                              <td align="right">New Password : </td>
                              <td align="left"><input name="newcustomers_password" type="password"  id="newcustomers_password"/></td>
                            </tr>
                            <tr>
                              <td align="right">&nbsp;</td>
                              <td align="left"><input type="submit" value="Update" name="submit2" class= "button_grn" /></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></form></td>
                      <td width="2%" >&nbsp;</td>
                    </tr>
                  <tr>
                    <td >&nbsp;</td>
                      <td valign="top">&nbsp;</td>
                      <td >&nbsp;</td>
                    </tr>
                  
                                </table></td>
                </tr>
              <tr>
                <td width="51%">&nbsp;</td>
                <td width="49%">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td background="images/box_06.jpg">&nbsp;</td>
      </tr>
      <tr>
        <td><img src="images/box_07.jpg" width="24" height="31" alt="" /></td>
        <td background="images/box_08.jpg">&nbsp;</td>
        <td><img src="images/box_09.jpg" width="21" height="31" alt="" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <iframe width=174 height=189 name="gToday:normal:agenda.js" id="gToday:normal:agenda.js" src="calander/ipopeng" scrolling="no" frameborder="0" style="visibility:visible; z-index:999; position:absolute; top:-500px; left:-500px;">

</iframe>
</table>
