<?php 
$customer_id = $_SESSION['cid'];
?>
<script language="javascript"> 
function IsNumeric(sText)
{
   var ValidChars = "0123456789";
   var IsNumber=true;
   var Char;

 
   for (i = 0; i < sText.length && IsNumber == true; i++) 
      { 
      Char = sText.charAt(i); 
      if (ValidChars.indexOf(Char) == -1) 
         {
         IsNumber = false;
         }
      }
   return IsNumber;
   
   }
function validation()
{

  if (document.edit.customers_firstname.value == "" )
  {
    alert("First Name is a required field.");
    document.edit.customers_firstname.focus();
    return false;
  }
  
   if (document.edit.customers_lastname.value == "" )
  {
    alert("Last Name is a required field.");
    document.edit.customers_lastname.focus();
    return false;
  }
  
 
  
  if (document.edit.customers_dob.value == "" )
  {
    alert("DOB is a required field.");
    document.edit.customers_dob.focus();
    return false;
  }
   if (document.edit.customers_email_address.value.indexOf("@") == -1 || document.edit.customers_email_address.value == "")
  {
    alert("Email is a required field!, may be you have missd @ symbol");
    document.edit.customers_email_address.focus();
    return false;
  }
  
  if (document.edit.customers_email_address.value.indexOf(".") == -1 || document.edit.customers_email_address.value == "")
  {
    alert("Email is a required field!, may be you have missd . symbol");
    document.edit.customers_email_address.focus();
    return false;
  }
   if (document.edit.customers_address1.value == "" )
  {
    alert("Customer Address is a required field.");
    document.edit.customers_address1.focus();
    return false;
  }
  
   if (document.edit.customers_town.value == "" )
  {
    alert("Town is a required field.");
    document.edit.customers_town.focus();
    return false;
  }
    if (document.edit.customers_postcode.value == "" )
  {
    alert("Post Code is a required field.");
    document.edit.customers_postcode.focus();
    return false;
  }
   if (document.edit.customers_telephone.value == "" )
  {
    alert("Phone No is a required field.");
    document.edit.customers_telephone.focus();
    return false;
  }
  if (document.edit.customers_password.value == "" )
  {
    alert("Password is a required field!");
    document.edit.customers_password.focus();
    return false;
  }
  
   if (document.edit.recustomers_password.value == "" )
  {
    alert("Re-Type Password is a required field!");
    document.edit.recustomers_password.focus();
    return false;
  }
  
  if (document.edit.recustomers_password.value!=document.edit.customers_password.value)
  {
    alert("Passwords don't match. Please try again");
	document.edit.c_password.value = "";
    document.edit.c_password.focus();
    return false;
  }
 
  return true;
  
}
</script>
<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<body>
<table width="710" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center"><?php  require_once('template/customer_cpanel.html');?></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="../images/red_box1_01.jpg" width="15" height="39" alt="" /></td>
        <td width="100%" background="../images/red_box1_02.jpg" class="heading">Order Details </td>
        <td><img src="../images/red_box1_03.jpg" width="14" height="39" alt="" /></td>
      </tr>
      <tr>
        <td background="../images/red_box1_04.jpg">&nbsp;</td>
        <td valign="top" bgcolor="#9E0112"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="stitle">
              <tr>
                <td valign="top" bgcolor="#9E0112"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="normal_text">
                  <?php
				
				$sql="Select * from customers where customers_id='".$customer_id."'";
				$result=mysql_query($sql);
				$row=mysql_fetch_array($result);
				?>
                  <tr>
                    <td width="95%" valign="middle" align="center"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                      <tr>
                        <td align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="normal_text">
                          
                          <tr>
                            <td align="center" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="1"  class="normal_text">
                              
                              <tr>
                                <td></td>
                              </tr>
                              <tr>
                                <td width="81%" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td align="center" class="normal_text"><strong><?php echo $message; ?></strong></td>
                                  </tr>
                                  <?php
					
				       $query = "SELECT * FROM customer_order where orid='".$_REQUEST['orid']."'";
											
						$result = $db->execQuery($query);
						$arinfo = $db->resultArray($result);
						$cuid=$arinfo[0]['customers_id'];	
				$sqlc="Select * from customers where customers_id=$cuid";
				$resultc=mysql_query($sqlc);
				$rowc=mysql_fetch_array($resultc);
				    ?>
                                  <tr>
                                    <td align="center"><form action="index-action-update_status-orid-<? echo $arinfo[0]["orid"]; ?>-tabm-rcttb" method="post" enctype="multipart/form-data" name="edit" id="edit" >
                                      <table width="100%" border="0" cellpadding="4" cellspacing="1" class="normal_text">
                                        <tr>
                                          <td valign="top"   ><strong>Order No: <?php echo order_id($arinfo[0]["orid"]); ?></strong>
                                                                <input type="hidden" name="orid" id="orid" value="<?php echo $arinfo[0]["orid"]; ?>"/></td>
                                          <td align="right" valign="top"></td>
                                        </tr>
                                        <tr>
                                          <td colspan="2" valign="top">
										  <table width="100%" border="0">
										  	<tr>
												<td>
										  <table width="100%" border="0" cellpadding="1" cellspacing="1">
                                            <tr>
                                              <td align="left"  valign="top"   class="normal_text"> Order Date:</td>
                                              <td align="left" valign="top"   class="normal_value"><?php echo $arinfo[0]["ordate"]; ?></td>
                                            </tr>
                                            <tr>
                                              <td width="30%" align="left"  valign="top"   class="normal_text"> Payment Method:</td>
                                              <td align="left" valign="top"   class="normal_value"><?php echo $arinfo[0]["pay_mathod"]; ?></td>
                                            </tr>
                                            <tr>
                                              <td align="left"  valign="top"   class="normal_text"> Payment Status:</td>
                                              <td align="left" valign="top"   class="normal_value"><?php if ($arinfo[0]["pstatus"]=="0"){
						echo "Not Paid"; 
						}else{ echo "Paid"; }?></td>
                                            </tr>
                                            <tr>
                                              <td align="left"  valign="top"   class="normal_text"> Order Type:</td>
                                              <td align="left" valign="top"   class="normal_value"><?php if ($arinfo[0]["order_type"]=="1"){
						echo "Order Delivery"; 
						}else{ echo "Collection"; }?></td>
                                            </tr>
                                          </table></td>
										  
										  </tr></table>
										  
                                        </tr>
                                        <tr>
                                          <td colspan="2" align="left"><strong><?php if ($arinfo[0]["order_type"]=="1"){ ?>Delivery Address:<?php }else{?>Ordered From:<?php } ?> </strong></td>
                                        </tr>
                                        <tr>
                                          <td width="25%" align="right" valign="top"  >Address 1 : </td>
                                          <td width="75%" align="left" valign="top" class="normal_value"><?php echo $arinfo[0]["customers_address1"]; ?></td>
                                        </tr>
                                        <tr>
                                          <td align="right" valign="top"  >Address 2 : </td>
                                          <td align="left" valign="top" class="normal_value"><?php echo $arinfo[0]["customers_address2"]; ?></td>
                                        </tr>
                                        <tr>
                                          <td align="right"  valign="top"  > County :</td>
                                          <td align="left" valign="top" class="normal_value"><?php echo $arinfo[0]["customers_state"]; ?></td>
                                        </tr>
                                        <tr>
                                          <td align="right" valign="top"  > City/Town : </td>
                                          <td align="left" valign="top" class="normal_value"><?php echo $arinfo[0]["customers_town"]; ?></td>
                                        </tr>
                                        <tr>
                                          <td align="right" valign="top"  >Post Code : </td>
                                          <td align="left" valign="top" class="normal_value"><?php echo $arinfo[0]["customers_postcode"]; ?></td>
                                        </tr>
                                        <tr>
                                          <td align="right"  valign="top"  > Country :</td>
                                          <td align="left" valign="top" class="normal_value"><?php echo $arinfo[0]["customers_country"]; ?></td>
                                        </tr>
                                        <tr>
                                          <td align="right"  valign="top"  >Customer Message : </td>
                                          <td align="left" valign="top" class="normal_value"><? echo strip_tags(html_entity_decode($arinfo[0]["customer_comments"]));?></td>
                                        </tr>
                                        
                                        <tr>
                                          <td colspan="2" align="center" valign="top"  ><table width="90%" border="0" cellpadding="0" cellspacing="0" class="normal_text" bgcolor="#B80113">
                                            <tr bgcolor="#930003">
                                              <td width="54%" align="left"><strong>Product Name </strong></td>
                                              <td width="16%" align="left"><strong>Price </strong></td>
                                              <td width="15%" align="center"><strong>Quantity</strong></td>
                                              <td width="15%" align="right"><strong>Sub Total </strong></td>
                                            </tr>
                                            <?
		$cr=0;
		$sqlproduc="select * from order_detail where orid='".$_REQUEST['orid']."'";
		$result = $db->execQuery($sqlproduc);
			$rowpro = $db->resultArray($result);
            $ste=sizeof($rowpro);
            for ($i = 0; $i < $ste; $i++)
			{
		
		?>
                                            <tr>
                                              <td align="left"  ><? $pids=$rowpro[$i]["product_id"];
						$sqlpn="Select * from product where product_id ='$pids'";
						$resultpn=mysql_query($sqlpn);
						$rowpn=mysql_fetch_array($resultpn);
						
						if($rowpn['parent_id']!=0)
						{
							$prdo=$rowpn['parent_id'];
							$sqlprop="Select * from product where product_id='$prdo'";
							$resultprop=mysql_query($sqlprop);
							$rowpp=mysql_fetch_array($resultprop);
							
						}
						else{
						
						$rowpp["product_title"]='';
						}
						
						echo $rowpn["product_title"]." ".$rowpp["product_title"];
						 ?></td>
                                              <td align="left"  >&pound;
                                                                      <? $number = $rowpro[$i]["uprice"];
                                  $english_format_number = number_format($number, 2, '.', '');
echo $english_format_number;?></td>
                                              <td align="center"  ><? echo $rowpro[$i]["qantity"];?></td>
                                              <td align="right"  >&pound;
                                                                      <? $stotal=$rowpro[$i]["uprice"]*$rowpro[$i]["qantity"]; echo number_format($stotal, 2, '.', '');?></td>
                                            </tr>
                                            <?}?>
                                            <tr>
                                              <td colspan="4" align="right"  ><div style="border-top:1px dashed #333333"> </div></td>
                                              </tr>
											<?php
											if($arinfo[0]["pay_mathod"]=="Online") {
											?>
                                            <tr>
                                              <td colspan="3" align="right"  >Credit Card Fee :</td>
                                              <td align="right"  >&pound;
                                                                      <?php $nvat=$arinfo[0]["ccfee"];
                                    echo number_format($nvat, 2, '.', '');?></td>
                                            </tr>
											<?php } ?>
                                            <tr>
                                              <td colspan="3" align="right"  >Handling Fees :</td>
                                              <td align="right"  >&pound;
                                                                      <?php $nhfee=$arinfo[0]["hnd_fee"];
                                  echo number_format($nhfee, 2, '.', '');
									
?></td>
                                            </tr>
                                            <tr>
                                              <td colspan="3" align="right"  ><strong>Total :</strong></td>
                                              <td align="right"  >&pound;
                                                                      <?php 
					$tcalid=$arinfo[0]["orid"];
					$sqltpr="select sum(uprice*qantity) as tprice from order_detail where orid='$tcalid'";
					$resulttpr=mysql_query($sqltpr);
					$rowprt=mysql_fetch_array($resulttpr);
					$ftotal=$rowprt["tprice"]+$arinfo[0]["ccfee"]+$arinfo[0]["hnd_fee"];
                    echo number_format($ftotal, 2, '.', '');
					 ?></td>
                                            </tr>
                                          </table></td>
                                        </tr>
                                      </table>
                                    </form></td>
                                  </tr>
                                  
                                  <tr>
                                    <td align="center" ></td>
                                  </tr>
                                  <tr>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                </table></td>
                              </tr>
                              
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                                </form></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td background="../images/red_box1_06.jpg">&nbsp;</td>
      </tr>
      <tr>
        <td><img src="../images/red_box1_07.jpg" width="15" height="17" alt="" /></td>
        <td background="../images/red_box1_08.jpg"></td>
        <td><img src="../images/red_box1_09.jpg" width="14" height="17" alt="" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <iframe width=174 height=189 name="gToday:normal:agenda.js" id="gToday:normal:agenda.js" src="calander/ipopeng" scrolling="no" frameborder="0" style="visibility:visible; z-index:999; position:absolute; top:-500px; left:-500px;"></iframe>
</table>