<script language="javascript"> 
function IsNumeric(sText)
{
   var ValidChars = "0123456789";
   var IsNumber=true;
   var Char;

 
   for (i = 0; i < sText.length && IsNumber == true; i++) 
      { 
      Char = sText.charAt(i); 
      if (ValidChars.indexOf(Char) == -1) 
         {
         IsNumber = false;
         }
      }
   return IsNumber;
   
   }
function validation()
{

  if (document.edit.rname.value == "" )
  {
    alert("Resturant Name is a required field.");
    document.edit.rname.focus();
    return false;
  }
  
   if (document.edit.street.value == "" )
  {
    alert("Street Name is a required field.");
    document.edit.street.focus();
    return false;
  }
  
 
  
  if (document.edit.zipcode.value == "" )
  {
    alert("ZIP Code is a required field.");
    document.edit.zipcode.focus();
    return false;
  }
  
  
  
  

 
  return true;
  
}
</script>
<script type="text/JavaScript">
<!--



function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td width="8%" height="400" valign="top">&nbsp;</td>
    <td width="92%" align="left" valign="top"><table width="96%" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/box_01.jpg" width="24" height="30" alt="" /></td>
        <td background="images/box_02.jpg"><span class="box_title_text">&quot;<? echo $_SESSION[rname];?>&quot; Restaurant Management </span></td>
        <td><img src="images/box_03.jpg" width="21" height="30" alt="" /></td>
      </tr>
      <tr>
        <td background="images/box_04.jpg">&nbsp;</td>
        <td width="100%" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="1"  class="bodytext">
            <tr valign="top">
              <td><table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#F0F0F0" class="bodytext" id="AutoNumber4">
                <tr>
                  <td width="27%">&nbsp;</td>
                  <td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
                  <td width="28%" align="left"><a class="nav" href="index.php?action=resturant_menu&amp;rid=<?php echo $_SESSION['resid']; ?>&tabm=rcttb">Restaurant Management Home </a></td>
                  <td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
                  <td width="13%"><a class="nav" href="index.php?action=service_set&amp;tabm=rcttb">Service Setting </a></td>
                  <td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
                  <td width="12%"><a class="nav" href="index.php?action=resturantpolicy_policy&tabm=rcttb">Order Policy </a></td>
                  <td width="3%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
                  <td width="11%"><a class="nav" href="index.php?action=delivery_policy&amp;tabm=rcttb">Delivary Info </a></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td width="81%" valign="top" bgcolor="#F0F0F0"><table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#FFFFFF" class="bodytext">
                
                <tr>
                  <td><strong> Restaurant Payment Method </strong></td>
                </tr>
                <tr>
                  <td align="center" class="message"><?PHP echo $message;
									  
									  ?></td>
                </tr>
                <tr>
                  <td align="center"><form action="index.php?action=insert_payment_method&tabm=rcttb" method="post" enctype="multipart/form-data" name="edit" id="edit" onSubmit="return validation(this)">
                      <table width="90%" border="0" cellspacing="2" cellpadding="2"  class="bodytext">
                        <tr>
                          <td width="31%" align="right"><strong>Offered Policy : </strong></td>
                          <td width="69%" align="left"><select name="payment_method_id" class="textbox_wht" id="policy_id">
                              <?Php 
								
									$resquery="Select * from payment_method where status='1'";
									
									$resultres=mysql_query($resquery);
									while($rowres=mysql_fetch_array($resultres)){
									?>
                              <option value="<?php echo $rowres["id"]; ?>"><?php echo $rowres["name"]; ?></option>
                              <? }?>
                            </select>                          </td>
                        </tr>
                        <tr>
                          <td align="right" valign="top">&nbsp;</td>
                          <td align="left"><input type="submit" name="Submit" value="Set Into Account" class="button_grn"/></td>
                        </tr>
                      </table>
                  </form></td>
                </tr>
                <tr>
                  <td align="center"><table width="90%" border="0" cellpadding="2" cellspacing="2" bgcolor="#F0F0F0"  class="bodytext">
                      <tr>
                        <td width="33%" align="left" bgcolor="#F0F0F0"><strong>My Method </strong></td>
                        <td width="67%" align="center" bgcolor="#F0F0F0"><strong>Action</strong></td>
                      </tr>
                      <?Php 
									$rids=$_SESSION['resid'];
		
									$resqueryac="Select * from resturant_paymnt_method where rid='$rids'";
									
									$resultresac=mysql_query($resqueryac);
									
									while($rowresac=mysql_fetch_array($resultresac)){
									?>
                      <tr>
                        <td align="left" bgcolor="#FFFFFF"><?php $plid=$rowresac["payment_method_id"];
				$policyquery="Select * from payment_method where id='$plid'";
				$resultac=mysql_query($policyquery);
				$rowac=mysql_fetch_array($resultac); 
				echo $rowac["name"];?></td>
                        <td align="center" bgcolor="#FFFFFF"><a href="index.php?action=del_payment_method&mid=<?php echo $rowresac["id"]; ?>&tabm=rcttb" class="nav">Withdraw from restaurant</a> </td>
                      </tr>
                      <?}?>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td height="320" valign="top">&nbsp;</td>
                </tr>
              </table></td>
            </tr>
            
            <tr>
              <td>&nbsp;</td>
            </tr>
        </table></td>
        <td background="images/box_06.jpg">&nbsp;</td>
      </tr>
      <tr>
        <td><img src="images/box_07.jpg" width="24" height="31" alt="" /></td>
        <td background="images/box_08.jpg">&nbsp;</td>
        <td><img src="images/box_09.jpg" width="21" height="31" alt="" /></td>
      </tr>
    </table></td>
  </tr>
</table>
