<table width="210" border="0" cellpadding="4" cellspacing="1" bgcolor="#F0F0F0" id="AutoNumber3">
  <tr>
    <td height="5" colspan="2"></td>
  </tr>
  <tr>
    <td class="subtitle">&nbsp;</td>
    <td class="subtitle">Restaurant </td>
  </tr>
  <tr>
    <td class="subtitle">&nbsp;</td>
    <td class="subtitle"><table width="100%" border="0" cellpadding="4" cellspacing="1" class="bodytext" id="AutoNumber4">
      <tr>
        <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="89%" align="left"><a class="nav" href="index.php?action=resturant_menu&amp;rid=<?php echo $_SESSION['resid']; ?>&tabm=rcttb">Restaurant Home </a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="5%" class="subtitle">&nbsp;</td>
    <td width="95%" class="subtitle">Manage Menu </td>
  </tr>
  <tr>
    <td class="subtitle">&nbsp;</td>
    <td class="subtitle"><table width="100%" border="0" cellpadding="4" cellspacing="1" class="bodytext" id="AutoNumber4">
      <tr>
        <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="89%" align="left"><a class="nav" href="index.php?action=menu_cetegory&tabm=rcttb">Manage Category </a></td>
      </tr>
      <tr>
        <td><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td align="left"><a class="nav" href="index.php?action=additem&tabm=rcttb">Manage Food Item </a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="subtitle">Restaurant Data </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="100%" border="0" cellpadding="4" cellspacing="1" class="bodytext" id="AutoNumber4">
      <tr>
        <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="89%"><a class="nav" href="index.php?action=my_resturant&amp;tabm=rcttb">Update Restaurant </a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="subtitle">Opening Time</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="100%" border="0" cellpadding="4" cellspacing="1" class="bodytext" id="AutoNumber4">
      <tr>
        <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="89%"><a class="nav" href="index.php?action=timeschedule&amp;tabm=rcttb">Restaurant Time Schedule </a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="subtitle">Service Settings </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="100%" border="0" cellpadding="4" cellspacing="1" class="bodytext" id="AutoNumber4">
      <tr>
        <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="89%"><a class="nav" href="index.php?action=online_acc_order&amp;tabm=rcttb">Restaurant Order Policy </a></td>
      </tr>
      <tr>
        <td><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td><a class="nav" href="index.php?action=delivery_policy&amp;tabm=rcttb">Restaurant Delivary Info </a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="subtitle"> Orders  </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="100%" border="0" cellpadding="4" cellspacing="1" class="bodytext" id="AutoNumber4">
        <tr>
          <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
          <td width="89%"><a class="nav" href="index.php?action=retaurant_orderlist&amp;tabm=rcttb">View Orders </a></td>
        </tr>

    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="subtitle"> Account Management </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="100%" border="0" cellpadding="4" cellspacing="1" class="bodytext" id="AutoNumber4">
      <tr>
        <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="89%"><a class="nav" href="index.php?action=online_acc_order&amp;tabm=rcttb">Order List</a></td>
      </tr>
      <tr>
        <td><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td><a class="nav" href="index.php?action=online_acc_order_ponline&amp;tabm=rcttb">On Line  Collection List </a></td>
      </tr>
      <tr>
        <td><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td><a class="nav" href="index.php?action=ofline_acc_order_ponline&amp;tabm=rcttb">By Royalty  Order List </a></td>
      </tr>
      <tr>
        <td><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td><a class="nav" href="index.php?action=send_paymeny&amp;tabm=rcttb">Payment To Restaurant </a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <!-- <tr>
    <td class="subtitle">&nbsp;</td>
    <td class="subtitle">Offer Management </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table border="0" cellpadding="3" width="100%" id="AutoNumber4" class="bodytext">
      <tr>
        <td><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td><a class="nav" href="index.php?action=offer_list">Offer List </a></td>
      </tr>
      <tr>
        <td width="11%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="89%"><a class="nav" href="index.php?action=logout">Logout</a></td>
      </tr>
    </table></td>
  </tr>-->
</table>

