<table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#F0F0F0" class="bodytext" id="AutoNumber4">
	<tr>		
		<td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
		<td width="24%" align="left"><a class="nav" href="index.php?action=resturant_menu&amp;rid=<?php echo $_SESSION['resid']; ?>&tabm=rcttb">Restaurant Management Home </a></td>
		<td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
		<td width="10%" align="left"><a class="nav" href="index.php?action=retaurant_orderlist&amp;tabm=rcttb">View Orders </a></td>
		<td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
		<td width="14%" align="left"><a class="nav" href="index.php?action=restaurant_statements&amp;tabm=rcttb">View Statements </a></td>
		<td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
		<td width="11%"><a class="nav" href="index.php?action=restaurant_account&amp;tabm=rcttb">View Account</a></td>
		<td width="2%"><img border="0" src="images/plus.gif" width="9" height="9" /></td>
        <td width="11%"><a class="nav" href="index.php?action=restaurant_invoice&amp;tabm=rcttb">View Invoices </a></td>
		<td width="2%"></td>
		<td width="19%">&nbsp;</td>
	</tr>
</table>