<script type="text/JavaScript">
<!--



function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="8%" height="400" valign="top">&nbsp;</td>
    <td width="92%" align="left" valign="top"><table width="790" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/box_01.jpg" width="24" height="30" alt="" /></td>
        <td background="images/box_02.jpg"><span class="box_title_text">"<? echo $_SESSION[rname];?>" Restaurant Management </span></td>
        <td><img src="images/box_03.jpg" width="21" height="30" alt="" /></td>
      </tr>
      <tr>
        <td background="images/box_04.jpg">&nbsp;</td>
        <td width="100%" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="6">
            <tr>
              <td width="29%"><div align="center"><a href="index.php?action=admin_menu_cetegory&tabm=rcttb"><img src="images/menu2.jpg" width="75" height="75" border="0" /></a></div></td>
              <td width="24%"><div align="center"><a href="index.php?action=my_resturant&tabm=rcttb"><img src="images/restaurant_data.jpg" width="75" height="75" border="0" /></a></div></td>
              <td width="25%"><div align="center"><a href="index.php?action=timeschedule&tabm=rcttb"><img src="images/opening_time1.jpg" width="75" height="75" border="0" /></a></div></td>
              <td width="22%"><div align="center"><a href="index.php?action=service_set&tabm=rcttb"><img src="images/service_settings.jpg" width="75" height="75" border="0" /></a></div></td>
            </tr>
            <tr>
              <td><div align="center"><strong><!--<a href="index.php?action=menu_cetegory&tabm=rcttb" class="nav">Manage Menu </a></strong>|--><a href="index.php?action=admin_menu_cetegory&tabm=rcttb" class="nav">New Menu </a></strong></div></td>
              <td><div align="center"><strong><a href="index.php?action=my_resturant&tabm=rcttb" class="nav">Restaurant Data </a></strong></div></td>
              <td><div align="center"><strong><a href="index.php?action=timeschedule&tabm=rcttb" class="nav">Opening Time </a></strong></div></td>
              <td><div align="center"><strong><a href="index.php?action=service_set&tabm=rcttb" class="nav">Service Settings </a></strong></div></td>
            </tr>
			
            <tr>
              <td><div align="center"><a href="index.php?action=insert_payment_method&tabm=rcttb"><img src="images/payment_management.jpg" width="75" height="75" border="0" /></a></div></td>
              <td><div align="center"><a href="index.php?action=retaurant_orderlist&tabm=rcttb"><img src="images/view_order.jpg" width="75" height="75" border="0" /></a></div></td>
              <td><div align="center"><!--<a href="index.php?action=accounts_mng&tabm=rcttb">--><a href="index.php?action=restaurant_account&tabm=rcttb"><img src="images/account_mangt.jpg" width="75" height="75" border="0" /></a></div></td>
              <td><div align="center"><a href="#"><img src="images/reporting.jpg" width="75" height="75" border="0" /></a></div></td>
            </tr>
            <tr>
              <td><div align="center"><strong><a href="index.php?action=insert_payment_method&tabm=rcttb" class="nav">Payment Method </a></strong></div></td>
              <td><div align="center"><strong><a href="index.php?action=retaurant_orderlist&tabm=rcttb" class="nav">View Orders </a></strong></div></td>
              <td><div align="center"><strong><!--<a href="index.php?action=accounts_mng&tabm=rcttb" class="nav">Account Management </a>--><a href="index.php?action=restaurant_account&tabm=rcttb" class="nav">Account Management </a></strong></div></td>
              <td><div align="center"><strong><a href="#" class="nav">Reporting</a></strong></div></td>
            </tr>
			
            <tr>
              <td><div align="center"><a href="index.php?action=discount_policy&tabm=rcttb"><img src="images/payment_management.jpg" width="75" height="75" border="0" /></a></div></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><div align="center"><strong><a href="index.php?action=discount_policy&tabm=rcttb" class="nav">Discount Policy</a></strong></div></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
        </table></td>
        <td background="images/box_06.jpg">&nbsp;</td>
      </tr>
      <tr>
        <td><img src="images/box_07.jpg" width="24" height="31" alt="" /></td>
        <td background="images/box_08.jpg">&nbsp;</td>
        <td><img src="images/box_09.jpg" width="21" height="31" alt="" /></td>
      </tr>
    </table></td>
  </tr>
</table>
