body {
	background-color: #9E9E9E;
}
.bodytext {
	font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color:#666666
}
.bodytext1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px; color:#cccccc
}
.box_title_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px; 
	font-weight:bold; 
	color:#cc3300; 
	background-color:#ffffff;

}

.text_oliv{
	font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color:#AF8E31
}
.title {
	COLOR: E43B26; FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold
}
.stitle {
	COLOR: #CC0000; FONT-SIZE: 12px; FONT-FAMILY:Arial, Helvetica, sans-serif; FONT-WEIGHT: normal
}
.textbox{
	font-family: Verdana; font-size: 10px; border: 1px solid #ffffff; background-color:#E91637
}

.textbox_wht{
	font-family: Verdana; font-size: 11px; border: 1px solid #B2B0B1
}
.button{
	font-family: Verdana; font-size: 10px; color:#000000; border: 1px solid #ffffff; background-color:#ffffff
}

.button_grn{
	font-family: Verdana; font-size: 10px; color:#000000; border: 1px solid #AB8F2B; background-color:#D9C89A
}
.message {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica, sans-serif; COLOR:#FF0000; FONT-WEIGHT: bold
}
.subtitle {
	COLOR: #6385A9; FONT-SIZE: 11px; FONT-FAMILY: verdana, Helvetica, sans-serif; FONT-WEIGHT: bold
}
.nrm01 {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, Helvetica, sans-serif; color: #9CA5B4
}
.nrm02 {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; color:#666666
}
.nrmlink {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; color:#333333
}
.nav:link {
	COLOR: #666666; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
.nav:visited {
	COLOR: #666666; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
.nav:hover {
	COLOR: #000000; TEXT-DECORATION:underline; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
.nav1:link {
	COLOR: #ffffff ; TEXT-DECORATION:none ; FONT-FAMILY: Arial, Helvetica, sans-serif;  FONT-SIZE: 12px
}
.nav1:visited {
	COLOR: #ffffff; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif;  FONT-SIZE: 12px
}
.nav1:hover {
	COLOR: #000000 ; TEXT-DECORATION:none; FONT-FAMILY: Arial, Helvetica, sans-serif;  FONT-SIZE: 12px
}
.nav2:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none; FONT-FAMILY: Verdana; FONT-SIZE: 11px
}
.nav2:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: none ; FONT-FAMILY: Verdana; FONT-SIZE: 11px
}
.nav2:hover {
	COLOR: #000000; TEXT-DECORATION: underline; FONT-FAMILY: Verdana; FONT-SIZE: 11px
}
.nav3:link {
	COLOR: #BC0702; TEXT-DECORATION: underline; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
.nav3:visited {
	COLOR: #BC0702; TEXT-DECORATION: underline; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
.nav3:hover {
	COLOR: #222222; TEXT-DECORATION:none ; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
.nav4:link {
	COLOR: #7D7D7D; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.nav4:visited {
	COLOR: #7D7D7D; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.nav4:hover {
	COLOR: #000000; TEXT-DECORATION:underline ; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}

.nav5:link {
	COLOR: #000000; TEXT-DECORATION: none; FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
.nav5:visited {
	COLOR: #000000; TEXT-DECORATION: none ; FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
.nav5:hover {
	COLOR: #445E7B; TEXT-DECORATION: none; FONT-FAMILY: Verdana; FONT-SIZE: 10px
}

.dotline {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.bdr {
	border-top-width: 1px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DCDCDE;
	border-right-color: #DCDCDE;
	border-bottom-color: #DCDCDE;
	border-left-color: #DCDCDE;
}


